/*  */

.projects-section {
  display: flex;
  justify-content: space-around;
  padding: 5px;
  margin: 10px;
  max-width: 1200px;
  height: auto;
  margin: auto;
}

.container-project {
  margin: 10px;
}
.title-space {
  display: block;
  justify-content: center;
  margin: 15px;
}

.description {
  display: flex;
  justify-content: space-around;
  border-left: 1px solid rgb(255, 255, 255);
}
